[
{"title":"快乐扑克100%中奖","img":"http://pimg1.126.net/caipiao_info/images/headFigure/indexPage/2014040315TT65224218.jpg","url":"http://bbs.caipiao.163.com/14472.html#from=toutu2"},
{"title":"4.6无敌星期日","img":"http://pimg1.126.net/caipiao_info/images/headFigure/indexPage/2014040222TT60734786.jpg","url":"http://caipiao.163.com/activity/supersunday.html#from=toutu"},
{"title":"快的送红包","img":"http://pimg1.126.net/caipiao_info/images/headFigure/indexPage/2014040414TT72693160.png","url":"http://www.kuaidadi.com/index.php?wycp"},
{"title":"我负责买彩票 你负责中大奖","img":"http://pimg1.126.net/caipiao_info/images/headFigure/indexPage/2014032809TT02099243.jpg","url":"http://caipiao.163.com/activity/licai.html?from=cpsy"},
{"title":"竞彩赛前3分钟停售","img":"http://pimg1.126.net/caipiao_info/images/headFigure/indexPage/2014030115TT06543859.jpg","url":"http://bbs.caipiao.163.com/10510.html#from=toutu"}
]