<?xml version="1.0" encoding="utf-8"?>

<!--
	有关如何配置 ASP.NET 应用程序的详细信息，请访问
	http://go.microsoft.com/fwlink/?LinkId=152368
-->

<configuration>
	<configSections>
		<sectionGroup name="App.Framework">
			<section name="Data" type="App.Framework.Configuration.DataConfigHandler,App.Framework"/>
			<section name="Security" type="App.Framework.Configuration.SecurityConfigHandler,App.Framework.Security"/>
		</sectionGroup>

  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<App.Framework>
		<Data connectionStringName="CSC_DEV_HK" Timeout="30" defaultProvider="App.Framework.Data.SqlProvider, App.Framework" type="App.Framework.Data.SqlProvider, App.Framework"></Data>
		<Security
   ApplicationName="CSC"
   MaxInvalidPasswordAttempts="5"
   PasswordEffectiveDays="90"
   MinRequiredPasswordLength="8"
   MinNonAlphaChar="0"
   MinAlphaChar="2"
   MinNumChar="2"
   PasswordReusePreventionCount ="3"
   InitialLogonChangePassword="true"
  >
		</Security>
	</App.Framework>

	<appSettings>
		<add key="EnabledStatisticalTime" value="true"/>
		<add key="DateTimeFormat" value="dd-MM-yyyy"/>
		<add key="DateAndTimeFormat" value="dd-MM-yyyy HH:mm:ss"/>
		<add key="DateAndHHmmFormat" value="dd-MM-yyyy HH:mm"/>
		<add key="LoginShowShop" value="false"/>
		<add key="PwdWarningDays" value="10"/>
		<add key="EnableExceptioFilter" value="false"/>
		<add key="RptTimeout" value="600"/><!--报表模块执行存储过程的超时时间，以秒为单位-->
		<add key="ReportFilePath" value="C:\CSC_TEMP\ReportFiles"/>
		<add key="UploadTempPath" value="C:\CSC_TEMP\Upload"/>
		<add key="BonusTemplate" value="C:\CSC_TEMP\BonusTemplate" />
		<add key="EnableReportingService" value="0"/><!--使用ReportingService服务器,1为使用，0为不使用-->
		<add key="Help" value="/Content/Templates/"/><!--帮助文档位置-->
		<add key="EnableScheduleOptions" value="true"/>

		<add key="InterfacePathBackup" value="C:\CSC_TEMP\ofs_interfaceBacup"/><!--备份文件路径-->
		<add key="InterfacePath" value="C:\CSC_TEMP\ofs_interface"/><!--輸出interface file的路徑-->
		<add key="OFS_APHeader" value="OFSAPH.txt"/><!--supplier invoice header interface file-->
		<add key="OFS_APDetail" value="OFSAPD.txt"/><!--supplier invoice detail interface file-->
		<add key="OFS_GL2EAD" value="OFSGLE.txt"/><!--GL to EAD interface file-->
		<add key="OFS_GL2Trading" value="OFSGLT.txt"/><!--GL to Trading interface file-->
		<add key="InterfaceEncoding" value="big5"/><!--Encoding of Interface file (big5 / UTF8)-->
	</appSettings>
	<connectionStrings>
		<add name="CSC" connectionString="server=SERVER-NET-111\MSSQL2008R2;database=CSC_DEV;uid=sa;pwd=ais" />
		<add name="CSC_DEV_HK" connectionString="server=SERVER-NET-111\MSSQL2008R2;database=CSC_HK_20140319;uid=sa;pwd=ais" />		
		<add name="CSC_HK" connectionString="server=(local);database=CSC_SZ_20130424;uid=sa;pwd=ais123"/>
	</connectionStrings>
	
	<location path="content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="Home/ChangeLanguage">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="Report/WSReports.asmx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prototype">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<system.web>
		<httpRuntime maxQueryStringLength="2097151"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<customErrors mode="Off">
		</customErrors>
		<siteMap defaultProvider="MvcSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="MvcSiteMapProvider"
     type="App.Framework.Web.MvcSiteMapProvider.DefaultSiteMapProvider, App.Framework.Web"
     siteMapFile="~/Web.Sitemap"
     securityTrimmingEnabled="true"
     cacheDuration="5"
     enableLocalization="true"
     scanAssembliesForSiteMapNodes="true"
     excludeAssembliesForScan=""
     includeAssembliesForScan=""
     attributesToIgnore="bling,visibility"
     nodeKeyGenerator="App.Framework.Web.MvcSiteMapProvider.DefaultNodeKeyGenerator, App.Framework.Web"
     controllerTypeResolver="App.Framework.Web.MvcSiteMapProvider.DefaultControllerTypeResolver, App.Framework.Web"
     actionMethodParameterResolver="App.Framework.Web.MvcSiteMapProvider.DefaultActionMethodParameterResolver, App.Framework.Web"
     aclModule="App.Framework.Web.MvcSiteMapProvider.DefaultAclModule, App.Framework.Web"
     siteMapNodeUrlResolver="App.Framework.Web.MvcSiteMapProvider.DefaultSiteMapNodeUrlResolver, App.Framework.Web"
     siteMapNodeVisibilityProvider="App.Framework.Web.MvcSiteMapProvider.DefaultSiteMapNodeVisibilityProvider, App.Framework.Web"
     siteMapProviderEventHandler="App.Framework.Web.MvcSiteMapProvider.DefaultSiteMapProviderEventHandler, App.Framework.Web"/>
			</providers>
		</siteMap>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms name=".CSC" protection="All"  timeout="600" domain="" path="/" requireSSL="false" slidingExpiration="true" loginUrl="~/Main/Index" defaultUrl="~/" enableCrossAppRedirects="true">
			</forms>
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>
		
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlVehshipProvider" type="System.Web.Security.SqlVehshipProvider" connectionStringName="ApplicationServices"
     enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
     applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="App.Framework.Web" />
				<add namespace="App.Framework.Web.Pager" />
				<add namespace="App.Framework" />
				<add namespace="CSC.Lib" />
				<add namespace="CSC"/>
				<add namespace="CSC.Resources" />
				<add namespace="App.Framework.Web.MvcSiteMapProvider.Web.Html"/>
				<add namespace="App.Framework.Web.MvcSiteMapProvider.Web.Html.Models"/>
			</namespaces>
		</pages>
		<sessionState mode="InProc" timeout="600"></sessionState>
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <CSC.Properties.Settings>
   <setting name="CSC_ReportService_ReportExecutionService" serializeAs="String">
    <value>http://192.168.1.111:80/ReportServer_MSSQL2008R2/ReportExecution2005.asmx</value>
   </setting>
  </CSC.Properties.Settings>
 </applicationSettings>
</configuration>
